@import url('reset.css');
/* звернення до селектору тегу */
header p {
	color: darkgreen;
}
h3{
	color: tomato;
}
/* Селектор * - звернення до усього/до будьчого 
(шукає у назві класу сполучення літер "em")*/
[class*="em"]{
	color: purple;
}
/* Селектор класу */
.culture {
	color: slateblue;
}
/* Селектор id */
#first{
	color: orange;
}
/* Комбінації селекторів */
h2.title{
	color: red;
}
/* Звернення до кількох класів */
.second,
.third{
	color: MediumSeaGreen;
}
/* Звернення до вкладених селекторів (звернення до тегу a класу .second)*/
.second a{
	color: violet;
}
/* звернення до УСІХ обєктів з класом .travel-item але які містяться у класі .travel-list  */
.travel-list .travel-item{
	color: green;
}
.text * {
	color: blue;
}
/* звернення до елементів p 1го рівня  */
.footer > p {
	color: goldenrod;
}
/* до елементів a далі по коду */
.travel ~ a{
	color: red;
} 
/* до елемента a 1го по коду */
.travel + a{
	color: goldenrod;
}
/* ============================= */
.culture span {
	color: indigo;
}
.culture a{
	color: red;
}

.history h2 {
	color: yellowgreen;
}
#travel {
	color: lime;
}
.text a{
	color: orange;
}
.second a{
	color: red;
}
.third a{
	color: orangered;
}