@import url('reset.css');

header p {
	color: darkgreen;
}

[class*="it"]{
	color: purple;
}
h1 + p{
	color: limegreen;
}
li ~ li{
	color: blue;
}
#culture {
	color: red;
}
.header {
}
.list {

}
.item{

}
.link{
}
.culture span {
	color: indigo;
}
.history h2 {
	color: yellowgreen;
}
.cousine {
}
.travel {
}
.footer {
}
