@import url('reset.css');
@import url('fonts.css');

body{
	font-family: 'CircularStd', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #231F8B;
}
[class*='__container']{
	max-width: 1050px;
	margin: 0 auto;
}

.header {
	background-color: #fff;
	color: #b3b3b3;
	font-size: 64px;
	padding: 100px 0px;
}
.advantages-body{
	margin-bottom: 70px;
}
.advantages-head {
	font-family: 'Montserrat',sans-serif;
	color: #5A54F2;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.7;


	margin-bottom: 10px;
}
.advantages-head-title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;

}
.advantages-head-text {
	font-size: 14px;
	font-weight: 450;
	line-height: 1.4;
}
.page {

}
.business-body {
	margin-left: -26px;
	margin-bottom: 100px;
	font-size: 0;
}
.business-article {
	display: inline-block;
	padding: 35px 40px;
	max-width: 230px;
	width: 100%;
	margin-left: 30px;
	vertical-align: top;
	background-color: #fff;
	color: #737373;
}
.business-article-purpure{
	background-color: #5A54F2;
	color: #fff;
}
.business-article-bottom{
	margin-top: 48px;
}
.article-icon {
	margin-bottom: 20px;
}
.article-title {
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #252B42;
}
.article-title-white{
	margin-bottom: 20px;
}
.decor{
	margin-bottom: 20px;
}
.article-text {
	font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.4;
	font-weight: 400;
	max-width: 132px;
}
/*========================================*/

.electric {
	background-color: rgb(0, 16, 36);
	font-family: 'Industry-Demi';
	padding: 100px 0px
}
.electric__container {
}
.electric-body{
	margin: 0 -20px;
	margin-bottom: 20px;
}
.title {
	font-size: 44px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.article-electric {
	display: inline-block;
	vertical-align: top;
	max-width: 340px;
	min-height: 301px;
	padding: 20px;
	background-color: #1a1b1b;

	margin-left: 20px;
	margin-top: 15px;
}
.electric-image {
	margin-bottom: 10px;
}
.article-type {
	color: rgb(38, 202, 211);
	font-size: 12px;
	margin-bottom: 20px;
}
.data {
	font-size: 13px;
	color: #cccccc;
}
.paragraph{
	display: block;
	margin-bottom: 10px;
	max-width: 300px;
}
.text{
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 20px;
	max-width: 300px;
	padding-right: 3%;
}
.text-second{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 30px;
	margin-top: 20px;
	max-width: 300px;
	padding-left: 5%;
}
/*=================================================*/
.column{
	background-color: #845252;
	margin: 0 auto;
	overflow: hidden;
	color: #c1bfbf;
	padding: 100px 0;
	max-width: 900px;
}

.items{
	margin-left: -5px;
	margin-right: -5px;
	font-size: 0;
}
.item{
	display: inline-block;
	width: 33.333%;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
}
.content{
	background-color: #317333;
	font-size: 18px;
	text-align: center;
	padding: 30px 2%;
}
/*===================================================*/
.test{
	background-color: #da5252;
	padding: 100px 0;
	font-size: 18px;
}
.test-body p{
	vertical-align: top;
}
.part1{
	display: inline-block;
	background-color: #716ec4;
	margin-bottom: 30px;
}
.part2{
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 3%;
	vertical-align: top;
	max-width: 500px;
	line-height: 1.5;
	text-align: justify;
	max-height: 220px;
	overflow: scroll;
}
.part3 p{
	display: inline-block;
	background-color: #716ec443;
	max-width: 100%;
	padding: 2%;
	margin-bottom: 20px;
}
.part4 p{
	display: inline;
	background-color: #264d4d33;
	padding-left: 30px;
}
.part4{
	max-height: 200px;
	overflow: auto;

}

.link{
	padding: 30px 0;
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 22px;
}
