@import url('reset.css');
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");

body{
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	background-color: #fff;
}

[class*='__container']{
	max-width: 1272px;
	margin: 0 auto;
	overflow: hidden;
}

/*==================header=======================*/

header{
	background: linear-gradient(124deg, rgba(52,48,69,1) 0%, rgba(255,255,255,1) 100%);
	padding: 100px 0px;
}
h1{
	font-size: 64px;
	font-weight: 700;
	color: #b3b3b3;
	margin-bottom: 30px;
}

.header-link {
	margin-right: 50px;
	font-size: 34px;
	color: rgba(52, 48, 69, 0.8);

	text-decoration: underline;
}
/*======================hydra========================*/
.hydra {
	font-family: 'Montserrat';
	vertical-align: top;
	background-color: #343045;
	color: #fff;
	
}
.hydra-body {
	vertical-align: top;
	padding: 100px 0px 50px 0px;
	margin-left: -5px;
	margin-right: -5px;
	font-size: 0;
	background: url('../img/bg-decor/vector\ 7.svg') -76px 112px  no-repeat,
					url('../img/bg-decor/vector\ 8.svg') -100px 390px no-repeat;
}
.hydra-image{
	display:inline-block;
	max-width: 524px;
	width: 100%;
	margin-right: 118px;
}
.hydra-image img {
	border-radius: 240px 100px 240px 100px;
	max-width: 524px;
	width: 100%;
}
.hydra-content {
	display: inline-block;
	max-width: 630px;
	vertical-align: top;
	width: 100%;
}

.content-hydra__title {
	padding-top: 50px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.5;

	margin-bottom: 5px;
}
.content-hydra__subtitle {
	color: rgba(255, 255, 255, 0.95);
	font-size: 36px;
	font-weight: 300;

	margin-bottom: 42px;
}
.content-hydra__text p{
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.content-hydra__button {
	padding: 17px 47px 16px 39px;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	border-radius: 40px;

	color: #343045;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
}

/*======================contacts============================*/

.contacts {
	font-family: 'Montserrat';
	background-color: #343045;
	color: #fff;

	padding: 50px 0px 100px 0px;
}
.contacts__container {
	
}
.contacts-items {
	margin-left: -5px;
	margin-right: -5px;
	font-size: 0;
	border-radius: 90px;
	background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
}
.contact-item {
	background: url('../img/contacts/location-Icon.svg') 30px 50% / 70px no-repeat;
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	margin: 25.5px 0;
}
.contact-item-phone {
	background: url('../img/contacts/phone-call.svg') 47.5px 50% / 59px no-repeat;
	border-left: 1px solid rgba(192, 183, 232, 0.33);
}
.contact-item-mail{
	background: url('../img/contacts/mail.svg') 50px 50% / 65px no-repeat;
	border-left: 1px solid rgba(192, 183, 232, 0.33);
}



.content-body {
	padding:  28px 0 28px 100px;
}

.content-body-phone{
	padding-left: 135.5px;
}
.contact-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;

	margin-bottom: 10px;
}
.contact-link{
	font-size: 14px;
}

/*==================descriptions==========================*/

.descriptions {
	padding: 100px 0;
	color: #808080;
	line-height: 1.5;
}
.descriptions__container {
	max-width: 648px;
}

.descriptions p{
	margin-bottom: 20px;
}

.descriptions-list {
	margin-bottom: 20px;
	line-height: 1.4;
}
.descriptions-list li{
	background: url('../img/descriptions/check.svg') 0 0 / 20px no-repeat;
	margin-bottom: 14px;
	padding-left: 28px;
	min-height: 20px;
}

.footer {
	font-family: 'Montserrat';
	color: #34304598;
	font-weight: 700;
	font-size: 28px;
	padding: 10px 0;
	background: linear-gradient(124deg, rgba(255,255,255,0.1516981792717087) 0%, rgba(52,48,69,1) 100%);;
}